# How to print in Julia

In [1]:
println("Hey Julia")

Hey Julia

In [2]:
# println() syntax is used

In [3]:
x = "My name is Bhupesh"

"My name is Bhupesh"

In [4]:
println(x)

My name is Bhupesh

In [5]:
# Last line of the cell gives output in Julia

In [6]:
123
21
142

142

In [7]:
# To stop the oputput add ; at the end

In [8]:
123
21
142;

# Assign variables

In [9]:
some_integer = 123

123

In [10]:
# typeof is used to know the type of the variables

In [11]:
typeof(some_integer)

Int64

In [12]:
some_float = 3.142

3.142

In [13]:
typeof(some_float)

Float64

In [14]:
name = "Bhupesh"

"Bhupesh"

In [15]:
typeof(name)

String

# How to comment

### Single Line Comment

In [16]:
# Here is a sinle line comment

### Multi Line Comment

In [17]:
#= 

For a multi line comment.
Which can be as long as you want it to be.

=#

# Synatax for basic math operation

In [18]:
sum = 10 + 12

22

In [19]:
difference = 25-10

15

In [20]:
product = 5*5

25

In [21]:
quotient = 125/25

5.0

In [24]:
power = 2^4 #unline ** in python

16

In [25]:
modulus = 104%5

4

# Strings

In [26]:
# Use set of double quotes

In [27]:
name = "Bhupesh"

"Bhupesh"

In [28]:
# Use triple set of double quotes

In [29]:
sentence = """Hello! How're you doing ?"""

"Hello! How're you doing ?"

In [30]:
# We use triple set when we have to use quote in any string

In [31]:
# For example -
line1 = "I got no "error""
# This produces an error

LoadError: syntax: cannot juxtapose string literal

In [32]:
# So we use """ """
line2 = """I got no "error"."""

"I got no \"error\"."

In [33]:
# How not to use ''

In [34]:
y = 'a'

'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)

In [35]:
typeof(y)

Char

In [36]:
z = 'Bhupesh'
# this result in error

LoadError: syntax: character literal contains multiple characters

In [37]:
'This is a sunny day'
# this also induces error

LoadError: syntax: character literal contains multiple characters

# String Interpolation

In [38]:
# We use $ sign to insert varibales inside a string

In [39]:
name = "Bhupesh"
age = 24
from = "India"

"India"

In [41]:
println("Hello, my name is $name")
println("I am $age years old. And I am from $from")

Hello, my name is Bhupesh
I am 24 years old. And I am from India

In [42]:
println("In 7 years I woule be $(age+7) years old.")

In 7 years I woule be 31 years old.

# String Concatenation

### Using string() function

In [43]:
string("Hello, ","Julia")

"Hello, Julia"

In [44]:
string("How old are you? ", "Less than ", 30, " Maybe ?")

"How old are you? Less than 30 Maybe ?"

### Using * method

In [47]:
line1 = "My name is"
line2 = " Bhupesh"

" Bhupesh"

In [48]:
line1*line2

"My name is Bhupesh"

### Using String Concatenation

In [49]:
"$line1$line2"

"My name is Bhupesh"

In [52]:
(repeat)

LoadError: UndefVarError: helpof not defined

# Data Strcutures

Three types of data structures in Julia
1. Dictionaries - Unordered and Mutable
2. Tuples - Ordered and Immutable
3. Arrays - Ordderd and Mutable

### Dictionaries

In [1]:
# Keyword for dict is Dict()

In [2]:
phonebook = Dict()

Dict{Any, Any}()

In [3]:
typeof(phonebook)

Dict{Any, Any}

In [4]:
# make a dictionary
myphonebook = Dict("Bhupesh" => "7838516332", "Utpal" => "8010551556")

Dict{String, String} with 2 entries:
  "Utpal"   => "8010551556"
  "Bhupesh" => "7838516332"

In [5]:
myphonebook["Bhupesh"]
# to grab a value associated witha a key

"7838516332"

In [6]:
# Add a key value pair
myphonebook["Rohit"] = "9958613966"

"9958613966"

In [7]:
myphonebook

Dict{String, String} with 3 entries:
  "Utpal"   => "8010551556"
  "Bhupesh" => "7838516332"
  "Rohit"   => "9958613966"

In [10]:
new = Dict("name" = "24")
# trying to make dict with = will cause error

LoadError: syntax: invalid keyword argument name ""name"" around In[10]:1

#### Few functions of Dict()

In [11]:
# pop!
# To remove a key valye pair

In [12]:
pop!(myphonebook, "Rohit")
# pop! syntax

"9958613966"

In [13]:
myphonebook

Dict{String, String} with 2 entries:
  "Utpal"   => "8010551556"
  "Bhupesh" => "7838516332"

In [14]:
# We cannot index Dictionaries as they are not ordered like tuples and array

In [15]:
myphonebook[2]

LoadError: KeyError: key 2 not found

### Tuples

In [16]:
# Create yuples by enclosing the elements sequence in () brackets

In [17]:
favanimals = ("cow", "goat", "dog")

("cow", "goat", "dog")

In [18]:
favanimals[1]

"cow"

In [19]:
# Note: Julia is 1 indexed

In [20]:
# tuples are immutable, we cannot update the tuples

In [21]:
favanimals[1] = "cat"
# We get error

LoadError: MethodError: no method matching setindex!(::Tuple{String, String, String}, ::String, ::Int64)

### Arrays

In [22]:
# Both mutable and ordered

In [23]:
# We create arrays by enclosing the elements in [] brackets

In [24]:
myfriends = ["Mithilesh", "Utpla", "Kanhaiya"]

3-element Vector{String}:
 "Mithilesh"
 "Utpla"
 "Kanhaiya"

In [25]:
mynumbers = [1,2,3,4,5,6,7]

7-element Vector{Int64}:
 1
 2
 3
 4
 5
 6
 7

In [26]:
mylist = ["Bhupesh", 24, "Delhi", 7838516332]

4-element Vector{Any}:
           "Bhupesh"
         24
           "Delhi"
 7838516332

In [27]:
# Julia recognises the eleents and array type

In [28]:
# We can get the elements with help of index

In [29]:
mylist[3]

"Delhi"

In [30]:
# Arrays are mutable so we can change it

In [31]:
mylist[3] = "India"

"India"

In [32]:
mylist
# To see the changes

4-element Vector{Any}:
           "Bhupesh"
         24
           "India"
 7838516332

#### Functions of arrays

In [33]:
# To add an element we use push! command

In [34]:
push!(mylist, "Travel")
# add the element at last

5-element Vector{Any}:
           "Bhupesh"
         24
           "India"
 7838516332
           "Travel"

In [35]:
# To remove the element we use pop! command

In [36]:
pop!(mylist)
# remove the last element

"Travel"

In [37]:
mylist

4-element Vector{Any}:
           "Bhupesh"
         24
           "India"
 7838516332

### Types of arrays

In [38]:
# We can create a multidimensional array

In [39]:
newarray = [myfriends,mynumbers, mylist]

3-element Vector{Vector{Any}}:
 ["Mithilesh", "Utpla", "Kanhaiya"]
 [1, 2, 3, 4, 5, 6, 7]
 ["Bhupesh", 24, "India", 7838516332]

In [40]:
# With the use of rand functions we can create an array with random values

In [41]:
# rand(dimensions)

In [42]:
rand(4,3)

4×3 Matrix{Float64}:
 0.441227  0.754036  0.873098
 0.140623  0.56492   0.0370477
 0.14103   0.586946  0.00158719
 0.853505  0.827246  0.608861

In [43]:
rand(5,4,3,2)

5×4×3×2 Array{Float64, 4}:
[:, :, 1, 1] =
 0.254851  0.588694  0.105047  0.68144
 0.857348  0.434101  0.640662  0.0372961
 0.794734  0.261517  0.080191  0.979397
 0.247023  0.698601  0.621274  0.444493
 0.832123  0.393983  0.515856  0.275411

[:, :, 2, 1] =
 0.513356  0.423038  0.224644  0.879393
 0.873123  0.305713  0.349439  0.619613
 0.365171  0.432759  0.496327  0.880883
 0.226255  0.268706  0.208089  0.870909
 0.93227   0.38734   0.344295  0.888622

[:, :, 3, 1] =
 0.785406   0.101327  0.751424   0.298044
 0.366163   0.709301  0.210726   0.855887
 0.879891   0.647099  0.5138     0.472634
 0.0287316  0.88283   0.0100695  0.321234
 0.569026   0.676184  0.921656   0.562319

[:, :, 1, 2] =
 0.875289  0.805422  0.633838  0.550096
 0.530422  0.643529  0.896615  0.84754
 0.25544   0.688878  0.177018  0.101687
 0.279667  0.820886  0.996248  0.123909
 0.162441  0.611478  0.192015  0.125917

[:, :, 2, 2] =
 0.327838  0.902867  0.229835   0.577084
 0.851676  0.219946  0.849899   0.954112
 0.761937  0.126892  0.311666   0.569675
 0.309373  0.512945  0.0304023  0.925554
 0.167294  0.168904  0.527337   0.281596

[:, :, 3, 2] =
 0.346879  0.608552  0.481772  0.378016
 0.432555  0.206643  0.745518  0.10539
 0.765665  0.804676  0.79365   0.828788
 0.221711  0.810261  0.789447  0.403496
 0.972003  0.465636  0.824369  0.669389

# Exercise

In [1]:
# Q1 String 
# Create a string that says "hi" 1000 times, first with `repeat` and then with the
# exponentiation operator, which can call `*` under the hood. Assign it the variable `hi`
# below.

In [13]:
hi = repeat("hi",1000)

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [14]:
@assert hi == "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [15]:
hi = "hi"^1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [16]:
@assert hi == "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [17]:
# #### 2.2
# Declare two variables
#
# ```julia
# a = 3
# b = 4
# ```
# and use them to create two strings:
# ```julia
# "3 + 4"
# "7"
# ```
# and store the results in `c` and `d` respectively

In [18]:
a,b = 3,4

(3, 4)

In [19]:
c = "$a + $b"

"3 + 4"

In [25]:
d = "$(a + b)"

"7"

In [26]:
@assert c == "3 + 4"

In [27]:
@assert d == "7"

In [28]:
# ### Exercises
#
# #### 3.1
# Create an array, `a_ray`, with the following code:
#
# ```julia
# a_ray = [1, 2, 3]
# ```
#
# Add the number `4` to the end of this array and then remove it.
#

In [29]:
a_ray = [1,2,3]

3-element Vector{Int64}:
 1
 2
 3

In [30]:
push!(a_ray,4)

4-element Vector{Int64}:
 1
 2
 3
 4

In [31]:
pop!(a_ray)

4

In [32]:
a_ray

3-element Vector{Int64}:
 1
 2
 3

In [33]:
@assert a_ray == [1, 2, 3]

In [34]:
#### 3.2
# Try to add "Emergency" as key to `myphonebook` with the value `string(911)` with the
# following code
# ```julia
# myphonebook["Emergency"] = 911
# ```
#
# Why doesn't this work?
#

In [50]:
myphonebook = Dict("Jenny" => "867-5309", "Ghostbusters" => "555-2368")

Dict{String, String} with 2 entries:
  "Jenny"        => "867-5309"
  "Ghostbusters" => "555-2368"

In [51]:
myphonebook["Emergency"] = 911

LoadError: MethodError: Cannot `convert` an object of type Int64 to an object of type String
Closest candidates are:
  convert(::Type{String}, ::String) at essentials.jl:210
  convert(::Type{T}, ::T) where T<:AbstractString at strings/basic.jl:231
  convert(::Type{T}, ::AbstractString) where T<:AbstractString at strings/basic.jl:232
  ...

In [38]:
myphonebook

Dict{String, String} with 3 entries:
  "Jenny"        => "867-5309"
  "Emergency"    => "911"
  "Ghostbusters" => "555-2368"

In [39]:
# #### 3.3
# Create a new dictionary called `flexible_phonebook` that has Jenny's number stored as an
# integer and Ghostbusters' number stored as a string with the following code
#
# ```julia
# flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")
# ```
#

In [40]:
flexible_phonebook = Dict()

Dict{Any, Any}()

In [41]:
flexible_phonebook["Jenny"] = 8675309

8675309

In [42]:
flexible_phonebook["Ghostbusters"] =  "555-2368"

"555-2368"

In [43]:
@assert flexible_phonebook == Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

In [44]:
#### 3.4
# Add the key "Emergency" with the value `911` (an integer) to `flexible_phonebook`.
#

In [45]:
flexible_phonebook["Emergency"] = 911

911

In [46]:
@assert haskey(flexible_phonebook, "Emergency")

In [47]:
@assert flexible_phonebook["Emergency"] == 911